# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# ROS2 colcon build artifacts
03_ROS/ros2_ws/build/
03_ROS/ros2_ws/install/
03_ROS/ros2_ws/log/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ML model weights
*.pt
*.pth

# IDE / Editor
.vscode/
.idea/
